/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --background-image: url(../images/cover-image-light.png);
  --background-color: #FFF1F7;
  --decorated-color: #353430;
  --accent-color: #ff8dcb;
  --title-color: #ffc2e6;
  --subtitle-text: #353430;
  --title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --text-size: 18px;
  --main-text-color: #353430;

  .rec-span {
    visibility: hidden;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url(../images/cover-image-light.png);
    --background-color: #FFF1F7
    --accent-color: #ff8dcb;
    --title-color: #ffc2e6;
    --subtitle-text: #353430;
    --main-text-color: #353430;
  }

  .rec-span {
    visibility: hidden;
  }
}
